/* 
Control panel itself
*/

.control-panel {
    transition-duration: 200ms;
    padding: 4vh;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0,0,0,0.3);
}

.control-panel-visible {
    z-index: 0;
    opacity: 1;
}

.control-panel-hidden {
    z-index: 0;
    opacity: 0;
}

.control-panel h2 {
    font-size: 3.25vh;
    margin: .75vh 0 .75vh 0;
}

.control-panel h3 {
    font-size: 1.75vh;
    margin: .75vh 0 .75vh 0;
}

/* 
Individual control panel sections
*/

.control-panel__section {
    margin-bottom: 3vh;
}

.control-panel__col {
    display: flex;
    flex-direction: column;
}

.control-panel__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
}

/* 
Hide button
*/

#hide-control-panel {
    background: rgba(255,255,255,0.15);
    color: inherit;
    position: absolute;
    font-size: 1vh;
    vertical-align: middle;
    text-align: center;
    top: 0;
    right: 0;
    width: $toggle-button-radius;
    height: $toggle-button-radius;
    // padding: $toggle-button-radius / 2;
    padding: 0;
    margin: 1vh;
    border-radius: $toggle-button-radius / 2;
    border: $toggle-button-border solid white;
}

#hide-control-panel:focus {
    outline: none;
}

#hide-control-panel:hover {
    cursor: pointer;
}

/* 
Hide button
*/

.control-panel__button {
    background: rgba(255,255,255,0.15);
    color: inherit;
    padding: 0.75vh;
    font-size: 1.75vh;
    width: $toggle-button-radius * 4 + $toggle-button-radius / 4;
    margin: 0 $toggle-button-radius/4 $toggle-button-radius/4 0;
}

.control-panel__button:focus {
    outline: none;
}

.control-panel__button:hover {
    cursor: pointer;
}

/*
Expand controls
*/

#expand-control-panel-container {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5vh;
    padding: 1vh;
    z-index: 1;
}

#expand-control-panel-container:hover {
    cursor: pointer;
}

.expand-control-panel {
    opacity: 1;
    color: white;
    display: inline-block;
    font-size: 1.5vh;
    padding: 0;
    margin: 0;
    transition-duration: 200ms;
}

.expand-control-panel #arrow {
    opacity: 1;
    font-size: 1.5vh;
    transition-duration: 200ms;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
}

//triggered for desktop sizes
@media (min-width: $desktop-breakpoint) {

    .control-panel:hover {
        opacity: 1;
        visibility: visible;
        background-color: rgba(0,0,0,0.3);
        transition-duration: 200ms;
        z-index: 2;
    }

    .control-panel {
        opacity: 0;
    }

    #hide-control-panel {
        display: none;
    }    

}

