/* 
Control panel itself
*/

.control-panel {
    transition-duration: 200ms;
    padding: vh(4);
    position: absolute;
    height: vh(100);
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0,0,0,0.3);
}

.control-panel-visible {
    z-index: 0;
    opacity: 1;
}

.control-panel-hidden {
    z-index: 0;
    opacity: 0;
}

.control-panel h2 {
    font-size: vh(3.25);
    margin: vh(.75) 0 vh(.75) 0;
}

.control-panel h3 {
    font-size: vh(1.75);
    margin: vh(.75) 0 vh(.75) 0;
}

/* 
Individual control panel sections
*/

.control-panel__section {
    margin-bottom: vh(3);
}

.control-panel__col {
    display: flex;
    flex-direction: column;
}

.control-panel__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: space-around;
    align-items: center;
}

/* 
Hide button
*/

#hide-control-panel {
    background: rgba(255,255,255,0.15);
    color: inherit;
    position: absolute;
    font-size: vh(1);
    vertical-align: middle;
    text-align: center;
    top: 0;
    right: 0;
    width: vh($toggle-button-radius);
    height: vh($toggle-button-radius);
    padding: 0;
    margin: vh(1);
    border-radius: vh($toggle-button-radius) / 2;
    border: $toggle-button-border solid white;
}

#hide-control-panel:focus {
    outline: none;
}

#hide-control-panel:hover {
    cursor: pointer;
}

/* 
Hide button
*/

.control-panel__button {
    background: rgba(255,255,255,0.15);
    color: inherit;
    padding: vh(.75);
    font-size: vh(1.75);
    width: calc(var(--vh, 1vh) * #{$toggle-button-radius} * 4 + --vh * #{$toggle-button-radius} * 0.25);
    margin: 0 calc(var(--vh, 1vh) * #{$toggle-button-radius} * 0.25) calc(var(--vh, 1vh) * #{$toggle-button-radius} * 0.25) 0;
}

.control-panel__button:focus {
    outline: none;
}

.control-panel__button:hover {
    cursor: pointer;
}

/*
Expand controls
*/

#expand-control-panel-container {
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: vh(0.5);
    padding: vh(1);
    z-index: 1;
}

#expand-control-panel-container:hover {
    cursor: pointer;
}

.expand-control-panel {
    opacity: 1;
    color: white;
    display: inline-block;
    font-size: vh(1.5);
    padding: 0;
    margin: 0;
    transition-duration: 200ms;
}

.expand-control-panel #arrow {
    opacity: 1;
    font-size: vh(1.5);
    transition-duration: 200ms;
    transform-origin: 50% 50%;
    transform: rotate(0deg);
}

//triggered for desktop sizes
@media (min-width: $desktop-breakpoint) {

    .control-panel:hover {
        opacity: 1;
        visibility: visible;
        background-color: rgba(0,0,0,0.3);
        transition-duration: 200ms;
        z-index: 2;
    }

    .control-panel {
        opacity: 0;
    }

    #hide-control-panel {
        display: none;
    }

    #canvas-viz {
        cursor: pointer;
    }

}

