.slider-label {
  font-size: 1.75vh;
  margin: .75vh 0 .75vh 0;
  display: block;
}

.slider {
  -webkit-appearance: none;
  width: 65%;
  left: 0;
  margin-bottom: 2vh;
  height: 0.25vh;
  background: $white;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1.5vh;
  height: 1.5vh;
  border-radius: .75vh; 
  background: $white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 1.5vh;
  height: 1.5vh;
  border-radius: .75vh;
  background: $white;
  cursor: pointer;
}

.slider-header {
  width: 100%
}