.slider-label {
  font-size: vh(1.75);
  margin: vh(.75) 0 vh(.75) 0;
  display: block;
}

.slider {
  -webkit-appearance: none;
  width: 65%;
  left: 0;
  margin-bottom: vh(2);
  height: vh(0.25);
  background: $white;
  outline: none;
  opacity: 0.6;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
  
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: vh(1.5);
  height: vh(1.5);
  border-radius: 50%; 
  background: $white;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: vh(1.5);
  height: vh(1.5);
  border-radius: 50%;
  background: $white;
  cursor: pointer;
}

.slider-header {
  width: 100%
}