#song-landing-page-title {
    font-size: vh(9);
    margin-bottom: 0;
}

#song-landing-page-subtitle {
    font-size: vh(4);
}

.song-landing-page {
    color: rgb(255,255,255);
    background: darken(#1F262F,0.2);
    transition-duration: 1500ms;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding-top: vh(12);
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 10;
}

.song-landing-page p {
    font-size: vh(1.5);
    margin: vh(0.5);
    text-align: center;
}

.song-landing-page button {
    font-size: vh(1.75);
    width: $toggle-button-radius * 4;
    height: $toggle-button-radius * 2;
    border: $toggle-button-border white solid;
    padding: vh(1.5);
    margin-top: vh(1);
    color: inherit;
    overflow-wrap: break-word;
    background-color: rgba(255,255,255,0);
}

.song-landing-page button:hover {
    background-color: rgba(255,255,255,.2);
    cursor: pointer;
}

.song-landing-page button:focus {
    outline: none;
}