.toggle-svg {
    fill-opacity: 0;
    stroke: white;
    stroke-width: $toggle-button-border;
    stroke-dasharray: (2 * $pi * ($toggle-button-radius - $toggle-button-border));
    stroke-linecap: round;
    transform-origin: 50% 50%;
}

.toggle-button {
    width: $toggle-button-radius * 2;
    height: $toggle-button-radius * 2;
    border-radius: $toggle-button-radius;
    padding: 0;
    margin: 0 $toggle-button-radius/4 0 0;
    color: inherit;
    border: none;
    overflow-wrap: break-word;
    background-color: rgba(0,0,0,0);
} 

.toggle-button:focus {
    outline: none;
}

.toggle-button:hover {
    cursor: pointer;
}

.pending-toggle-button {
    background: rgba(249,243,168,0.5);
}

.active-toggle-button {
    background: rgba(149,219,177, 0.5);
}

.stopped-toggle-button {
    background: rgba(255, 255, 255, 0);
}