@import '../settings.scss';

#landing-page {
    width: 100%;
    height: 100%;
    background-color: $off-black;
}

#landing-page-soundscape-title {
    font-family: 'Satisfy';
    font-size: $xxl-size;
    margin: 2%;
}

#landing-page-header {
    font-size: $m-size;
    color: $moon-yellow;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
}

#landing-page-header .flex-row {
    justify-content: center;
}

#landing-page-bpm {
    color: $hot-pink
}

#landing-page-key {
    color: $hot-green
}

#song-selection-panel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.custom-song-icon {
    // border-radius: 50%;
    display: block;
    margin: 0;
    width: 25rem;
    height: 25rem;
    line-height: 25rem;
}

.song-link {
    color: $moon-yellow;
    font-size: $m-size;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.song-link:hover {
    background-color: rgba(255,255,255,.2);
    cursor: pointer;
}