@import '../settings.scss';

h2, h3 {
    color: white;
    text-transform: capitalize;
}

h2 {
    font-size: 2.5rem;
    margin-top: 0;
}

h3 {
    font-size: 1.75rem;
    padding: 0 1rem 0 1rem;
    white-space: nowrap;
}

.button-white {
    font-size: 1.5rem;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: white;
    color: white;
    padding: 1rem;
    margin: 0 auto 0 auto;
    flex-basis: auto;
    flex-grow: 1;
}

#toggle-button-panel-reset {
    border-width: .2rem .1rem .2rem .2rem;
}

#toggle-button-panel-randomize {
    border-width: .2rem .1rem .2rem .1rem;
}

#toggle-button-panel-mute {
    border-width: .2rem .2rem .2rem .1rem;
}

#toggle-button-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.button-active {
    background: lightgreen;
}