@import '../settings.scss';

h2, h3 {
    color: white;
    text-transform: capitalize;
}

h2 {
    font-size: vh(3);
    margin: 0 0 vh(1) 0;
}

h3 {
    font-size: vh(2.15);
    margin: 0;
    padding: 0 vh(1) 0 0;
    flex: 0 0 content;
    white-space: nowrap;
}

.button-white {
    font-size: vh(1.75);
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: white;
    color: white;
    padding: vh(1);
    margin: 0 auto 0 auto;
    flex-basis: auto;
    flex-grow: 1;
}

#toggle-button-panel-reset {
    flex: 1 1 auto;
    border-top-width: vh(0.2);
    border-right-width: vh(0.1);
    border-bottom-width: vh(0.2);
    border-left-width: vh(0.2);
}

#toggle-button-panel-randomize {
    flex: 1 1 auto;
    border-top-width: vh(0.2);
    border-right-width: vh(0.1);
    border-bottom-width: vh(0.2);
    border-left-width: vh(0.1);
}

#toggle-button-panel-mute {
    flex: 1 1 auto;
    border-top-width: vh(0.2);
    border-right-width: vh(0.2);
    border-bottom-width: vh(0.2);
    border-left-width: vh(0.1);
}

#toggle-button-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.button-active {
    background: rgba(144, 238, 144, .5);
}