/* Source: http://danielstern.ca/range.css/?ref=css-tricks#/ */

@import './settings.scss';

$slider-background: "#FFFFFF";
$slider-active-color: $hot-green;
$slider-thumb-border: "#FFFFFF";
$slider-thumb-border-size: .25vh;
$slider-thumb-size: 2vh;
$slider-track-height: .5vh;
$slider-width: "100%";

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: .5vh;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: $slider-track-height;
    cursor: pointer;
    background: $slider-background;
    border-radius: 50%;
    border: $slider-thumb-border-size solid $slider-thumb-border;
  }
  input[type=range]::-webkit-slider-thumb {
    border: 1px solid $slider-thumb-border;
    height: $slider-thumb-size;
    width: $slider-thumb-size;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1vh;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: $slider-background;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: $slider-track-height;
    cursor: pointer;
    background: $slider-background;
    border-radius: 50%;
    border: $slider-thumb-border-size solid $slider-thumb-border;
  }
  input[type=range]::-moz-range-thumb {
    border: 1px solid $slider-thumb-border;
    height: $slider-thumb-size;
    width: $slider-thumb-size;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: $slider-track-height;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: $slider-background;
    border: $slider-thumb-border-size solid $slider-thumb-border;
    border-radius: 50%;
  }
  input[type=range]::-ms-fill-upper {
    background: $slider-background;
    border: $slider-thumb-border-size solid $slider-thumb-border;
    border-radius: 50%;
  }
  input[type=range]::-ms-thumb {
    border: $slider-thumb-border-size solid $slider-thumb-border;
    height: $slider-thumb-size;
    width: $slider-thumb-size;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    height: $slider-track-height;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: $slider-background;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: $slider-background;
  }
  