html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: $m-size;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#canvas-viz {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    z-index: -999;
}