// Colors
$off-black: #20222b;
$off-white: #a5afd7;
$white: #ffffff;
$blue: #3c4251;
$dark-blue: #333745;
$light-blue: #464b5d;
$purple: #8357c5;
$pink: #ff4c7a;

// Sizing
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 48rem;

$toggle-button-radius: 3vh;
$toggle-button-border: 0.1vh;

// Constants
$pi: 3.14159265358979;